body {
    background: #e8e7e7;
    margin: 0;
    position: relative;
    font-family: sans-serif;
}

.advanced-settings-title {
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: white;
}

.advanced-settings-title .close-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M7.066,5.653 L11.449,1.335 C11.744,1.044 11.744,0.572 11.449,0.281 C11.154,-0.010 10.674,-0.010 10.379,0.281 L5.997,4.599 L1.614,0.281 C1.319,-0.010 0.840,-0.010 0.544,0.281 C0.249,0.572 0.249,1.044 0.544,1.335 L4.927,5.653 L0.544,9.970 C0.249,10.261 0.249,10.733 0.544,11.024 C0.692,11.170 0.886,11.243 1.079,11.243 C1.273,11.243 1.466,11.170 1.614,11.024 L5.997,6.706 L10.379,11.024 C10.527,11.170 10.720,11.243 10.914,11.243 C11.108,11.243 11.301,11.170 11.449,11.024 C11.744,10.733 11.744,10.261 11.449,9.970 L7.066,5.653 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 0.833em;
    width: 0.833em;
    display: inline-block;
    padding: 0;
    border: none;
}

.advanced-settings-title .title {
    outline: none;
    text-align: left;
    margin: 0;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.settings-container {
    padding: 25px;
}

.settings-container > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.settings-container > div > div:not(.switch) {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
}

label {
    color: #767785;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.switch label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 28px;
    right: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + label > .slider {
    background-color: #3f51b5;
}

input:focus + label > .slider {
    box-shadow: 0 0 1px #3f51b5;
}

input:checked + label > .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type="text" i] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a2adb5;
    border-radius: 0;
    outline: none;
    height: 1.5rem;
    margin: 0 0 20px 0;
    padding: 0;
    padding-bottom: 2px;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
input[type="reset" i] {
    font-weight: bold;
}
